# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# JetBrains IDEs projects
.idea/

# Node Modules
npm-debug.log

# Bower Components
bower_components/

# Node Modules
node_modules/

# Sass/Scss Cache
.sass-cache/


# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
